@page "/"
@inherits EmployeeListBase
@attribute [Authorize]

<h3>Selected Employee Count : @SelecitonEmployeeCount </h3>

<input type="checkbox" id="showFooter" @bind="showFooter" />
<label for="showFooter">Show Footer</label>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="showFooter"
                             OnEmployeeSelection="EmployeeSelectionClicked"
                             OnEmployeeDeleted="EmployeeDeleted"></DisplayEmployee>
        }
    </div>
}

